
#wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
    z-index:2;

}
#wrapper > input{
	font-size: 18px;
}
#wrapper > p{
	font-size: 18px;
}
#loginInfo{
	background-color:#ec971f;
	border-color:#d58512;
	text-align:center;
}

#main{
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:1;
    background-image:url("http://localhost:8080/SpringMVC/images/MainBackground1.jpg");
    background-repeat: repeat;
}



#iconDiv{
 
	 height:50px;
	 margin-top:1%; 
	 padding-right:0;
	 padding-left:2%;
}

#icon{
	
	height:100%;
	width: 70%;
	border-radius: 5px 5px 5px 5px; 
 	border: 1px solid #222;
 	
}

#list{
	 
	float: left; 
	margin-top:5px; 
	
}


#list_header{
	 width: 100%; 
	 height: 37px; 
	 background-color: #3A3A3A;  
	 border-radius: 5px 5px 0 0; 
	 display: block; 
	 padding: 0 0 0 0; 
	 line-height: 40px; 
	 font-size: 20px;
}

#list_content_friend{
	width: 100%; 
	height: 400px;
	display: block;
	background-color: #E0E0E0; 
	padding: 0 0; 
	overflow-y:auto;
	opacity: 0.7;
	margin-bottom:0;
}

#list_content_friend  p{
	display: inline;
}

#list_content_talk{
	width: 100%; 
	height: 400px;
	display: none;
	background-color: #E0E0E0; 
	padding: 0 0; 
	overflow-y:auto;
	opacity: 0.7;
	margin-bottom:0;
	
}

#list_content_selfInfo{
	width: 100%; 
	height: 400px;
	display: none;
	background-color: #E0E0E0; 
	padding: 0 0; 
	overflow-y:auto;
	opacity: 0.8;
	font-size: 18px;
}

#list_content_selfInfo > div{
	margin-left: 2%;
	opacity: 1;
}

#selfAge{
	border-radius:2px 2px 2px 2px;
}

#selfSignature{
	margin-left: 2%;
}

#rewriteSelfInfoBtn{
	font-color:black;
	margin:1% auto;
	border-radius: 2px 2px;
}

#list_footer{
	width: 100%; 
	height: 63px;
	display: red;
	border-radius: 0 0 5px 5px; 
	background-color: #3A3A3A;
	padding: 0 0; 
	margin: 0 0;
}

#chatList{
	width: 30%; 
	height:60px; 
	display:inline-table; 
	padding:0 0;  
	background-color: #3A3A3A; 
	border-radius: 0 0 0 5px ;
	text-align:center;
	line-height:60px;
}

#chatList img{
	width: 40%; 
	height: 40%;
	margin: 0 auto;
	padding-top:0;
}

#friendList{
	width: 33%; 
	height: 60px; 
	padding: 0 0; 
	display:inline-table; 
	background-color: #3A3A3A;
	text-align:center;
	line-height:60px;
}

#friendList img{
	width: 40%; 
	height: 40%;
	margin: 0 auto;
}

.list-friend{
	margin-top:0;
	height: 45px; 
	background-color: #787878;
	border: 1px solid #222;
	
}

.list-talk{
	margin-top:0;
	height: 45px; 
	background-color: #787878;
	border: 1px solid #222;
}

.list-img{
	width:20%; 
	height:100%;
	float: left;
	
}

#optsDiv{
	width: 30%; 
	height:60px; 
	padding: 0 0; 
	display:inline-table; 
	background-color: #3A3A3A;
	text-align:center;
	line-height:60px;
}

#optsDiv img{
	width: 40%; 
	height: 40%;
	margin:0 auto;
}

#dialog{
	display:none; 
	/*
	width: 40%;
	*/
	height: 500px;
	  
	background-color: #3A3A3A; 
	float: left; 
	margin-top:5px; 
	padding: 10px 0; 
	border-radius: 5px;
}

#friendName{
	height: 6%; 
	background-color: #3A3A3A;
	text-align: center;
	line-height: 100%;
	font-size: 18px;
	color:white;
	border-radius: 5px 5px 5px 5px;
}

#talkContent{
	height: 100%; 
	background-color: #787878;
	border-radius:6px 6px;
	
	overflow-y: auto;
	
}

.leftBob{
	padding-top:2%; 
	display:block;  
	text-align:left; 	
	height:24px; 
	font-size:24px; 
	border-radius: 2px 2px; 
	max-width: 80%;
	height:9%;
}
.leftBob > font{
	border-radius: 4px 4px; 
	background-color: #A3D648;
	padding-left:1%;
	padding-right:1%;
}
.leftBob img{
	margin-right:1%;
	margin-left:1%;
	width: 8%;
	height: 90%;
	border-radius: 3px 3px;
}
.rightBob{
	padding-top:2%; 
	display:block;   
	text-align:right; 
	height:24px; 
	font-size:24px; 
	border-radius: 2px 2px;
	height:9%;

}
.rightBob > font{
	background-color: #FAFAFA;
	border-radius: 4px 4px; 
	padding-left:1%;
	padding-right:1%;
}


.rightBob img{
	margin-right:1%;
	margin-left:1%;
	width: 6%;
	height: 90%;
	border-radius: 3px 3px;
}
#emojiContent{
	height: 20%; 
	background-color: #3A3A3A; 
	display:none; 
	overflow-y:auto; 
	padding:0 0;
}

#talkTools{
	height: 10%; 
	background-color: #3A3A3A;
}

#emojiTools{
	float: left; 
	width: 12%; 
	height: 100%; 
	background-color: #3A3A3A;
	text-align:center;
	
}

#emojiTools img{
	width: 60%;
	height: 70%;
	margin-top: 15%;
}

#chatMsg{
	
	width: 100%; 
	height: 100%; 
	border-radius:5px 5px 5px 5px; 
	padding: auto auto;
	overflow-y:auto;
	margin-top: 1%;
}

#sendBtn{
	width:100%;
	height:100%;
	border-radius:5px 5px 5px 5px; 

}


#optsDialog{
	display:none; 
	height: 500px; 
	background-color: #E0E0E0; 
	float: left; 
	margin-top:5px; 
	border-radius: 5px; 
	font-size: 18px;
	overflow-y: auto; 
}

#changeIcon{
	width:100px;
	height: 25px; 
	border-radius: 5px; 
	padding-left: 5%;
}
#changeIcon > p{
	background-color: #3A3A3A; 
	border-radius: 5px; 
	color:white;
	text-align:center;
}

#changeIconDiv{
	height: 10%; 
	display: none;
	overflow-x:auto;
	background-color: #787878;
	border-radius:5px 5px;
}
#changeIconDiv > img{
	height: 100%; 
	width: 20%;
	float:left;
}

#deleteFriend{
	width:100px;
	height: 25px; 
	border-radius: 5px; 
	padding-left: 5%;
}

#deleteFriend > p{
	background-color: #3A3A3A;  
	border-radius: 5px;
	color:white;
	text-align:center;
}

#deleteFriendsDiv{
	height: 40%; 
	display:none;
	background-color: #787878;
	border-radius:5px 5px;
}

#deleteFriendInfo{
	margin-left:2%; 
	margin-top:1%;
}

#addGroup{
	width:100px;
	height: 25px; 
	border-radius: 5px; 
	padding-left: 5%;
}

#addGroup > p{
	background-color: #3A3A3A;  
	border-radius: 5px;
	color:white;
	text-align:center;
}


#addGroupDiv{
	height: 40%; 
	display:none;
	background-color: #787878;
	border-radius:5px 5px;
}


#addFriend{
	width:100px;
	height: 25px; 
	border-radius: 5px; 
	padding-left: 5%;
}

#addFriend > p{
	background-color: #3A3A3A;  
	border-radius: 5px;
	color:white;
	text-align:center;
}


#addFriendsDiv{
	height: 40%; 
	display:none;
	background-color: #787878;
	border-radius:5px 5px;
}

#addFriendInfo{
	margin-left:2%; 
	margin-top:1%;
}

#resignAccount{
	width:100px;
	height: 25px; 
	border-radius: 5px; 
	padding-left: 5%;
}
#resignAccount > p{
	background-color: #3A3A3A; 
	border-radius: 5px;
	color:white;
	text-align:center;
}

#resignAccountDiv{
	height: 60px; 
	line-height: 60px;
	background-color: #787878;
}

#resignBtn{
	margin:0 auto;
}


#recordDialog{
	display:none; 
	
	width: 30%; 

	height: 500px; 
	margin-left:15px;
	background-color: #7a7a7a; 
	float: left; 
	margin-top:5px; 
	padding: 10px 0 0 0; 
	border-radius: 5px; 
	font-size: 18px;
	border: 1px solid #222;
}

#MsgRecordDiv{
	height:90%; 
	overflow-y:auto;
}
re




.redDot{
	width:30%;
	height:30%;
	padding:auto 10% 0 0;
	float: right;
	background-color:red;      
	border-radius: 15%;      
	-moz-border-radius: 15%;      
	-webkit-border-radius: 15%;

	fontSize:20px;
	text-align:center;
	line-height:30%;
	 
}

#getFormerDiv{
	

	margin: 0 15%;
	height: 60%;
	width:20%;
	float: left;
	text-align:center;
}


#getLaterDiv{
	
	margin: 0 15%;
	height: 60%;
	width:20%;
	float: left;
	text-align:center;
}