<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  
<mapper namespace="com.wang.dao.IFriendDAO">
	<resultMap id="FriendMap" type="com.wang.bean.Friend">
		<result column="friendId" property="friendId" jdbcType="VARCHAR"/>
		<result column="groupName" property="groupName" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="getFriend" resultMap="FriendMap" 
		parameterType="String" statementType="STATEMENT">
		select * from ${dbName} 
		where 
		friendId = #{friendId, jdbcType=VARCHAR}
	</select>
	
	<select id="getAllFriends" resultMap="FriendMap" statementType="STATEMENT">
		select * from ${dbName}
	</select>
	<select id="getAlivedFriends" resultType="String" statementType="STATEMENT">
		select id from user where id in (select friendId from friend_${userId}) and alive = true
	</select>
	
	<delete id="deleteFriend">
		delete from ${dbName} 
		where friendId = #{friendId}
	</delete>
	
	<insert id="addFriend">
		insert into ${dbName}
		values(#{friendId}, #{groupName})
	</insert>
</mapper>